<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="FIT5042_Assignment-ejbPU" transaction-type="JTA">
    <jta-data-source>jdbc/fit5042_assignment</jta-data-source>
    <class>fit5042_assignment.repository.entities.Comment</class>
    <class>fit5042_assignment.repository.entities.Pokemon</class>
    <class>fit5042_assignment.repository.entities.User</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
    </properties>
  </persistence-unit>
  <persistence-unit name="FIT5042_Assignment-ejbPU2" transaction-type="JTA">
    <jta-data-source>jdbc/fit5042_assignment</jta-data-source>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
    </properties>
  </persistence-unit>
</persistence>
